<section>
  <div class="page-header">
    <h1>Competency Test: What are we testing?</h1>
  </div>
  <div class="list-group">

        <h2> Faux Pas </h2>
        <p>Socially adept
        </p>
        <br>
        <h2> ToM (Theory of Mind) & Strange Stories </h2>
        <p>Theory of Mind (ToM) is a test used to guage a childs ability to infer menatl states in others.
          It tests social skills; Pretense, jokes, lies, white lies, figure of speech, misunderstanding, persuasion, irony, contrary emotions, appearance/reality and forgetting.
         </p>
        <br>
        <h2> Facial Recognition </h2>
        <p> Emotional recognition
        </p>
        
  </div>
</section>
