<section>
  <div class="page-header">
    <h1>
      Tests - Faux Pas, Theory of Mind & Facial Recognition
      <a class="btn btn-primary pull-right" data-ui-sref="admin.compTest.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="compTest in vm.compTest" data-ui-sref="admin.compTest.edit({compTestId: compTest._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="compTest.created | date:'mediumDate'"></span>
        by
        <span ng-if="compTest.user" ng-bind="compTest.user.displayName"></span>
        <span ng-if="!compTest.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="compTest.title"></h4>
      <p class="list-group-item-text" data-ng-bind="compTest.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.compTest.$resolved && !vm.compTest.length">
    No articles yet, why don't you <a data-ui-sref="admin.compTest.create">create one</a>?
  </div>
</section>
